.faq {
    margin-top: 5%; 
    margin-left: 20%;
    margin-right: 20%; 
    margin-bottom: 5%;
}
.faq button {
  font-size: large;
}
.faqSection {
    margin-top: 2%; 
    margin-bottom: 2%;
}
.faqSection h2 {
    color: black;
    margin-left: 15px;
}
/* Style the buttons that are used to open and close the accordion panel */
.faq-item {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;  
    margin-top: 0.5%; 
    margin-bottom: 0.5%;
    transition: 0.4s;
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .faq-item:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 2% 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    transition: 0.2s;
    margin-top: -7px
  } 
  .panel p {
    line-height: 1.5;
  }
  .panel a:hover {
    color: red; 
  }
 
  .faq-item:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

