.form {
    min-height: 50%;
    min-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-self: center;
    float: left;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 5%;

    background-color: burlywood;
}
.myForm {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 5%;
}
.myFormElemente {
    margin-top: 5%;
    margin-bottom: 5%;
}
.form_content {
    margin-left: 25%;
    margin-right: 25%;
    align-items: center;
    justify-content: start ;
    /*overflow-y: scroll;
    overflow-x: hidden;*/
}
 .controlPanel {
    position: fixed;
    height: 42%;
    width: 10.5%;
    background-color: beige;
    display: flex;
    flex-direction: column;
    float: right;
    top: 11%;
    left: 85%;
    
 }
 .controlButton {
     padding: 20px;
     margin: 10px;
     background-color: white ;
     color: black;
     border: none;
 }
 .controlButton:hover {
     background-color: green;
     color: white;
 }

 .controllButtonGroup {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
 }

 .formElementDiv {
    display: flex;
    flex-direction: column;
    padding: 5%;
    background-color: white;
    margin-top: 5%;
    margin-bottom: 5%;
 }
.formRadioDiv {
    display: flex;
    justify-content: space-between;
}
.RadioControlDiv {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
}
.greenButton {
    background-color: gray;
    color: white;
    padding: 2%;
    border: none;
}
.greenButton:hover {
    background-color: green;
}
.deleteElement {
    background-color: gray;
    color: white;
    padding: 2%;
    border: none;
}
.deleteElement:hover {
    background-color: red;
}