 .headerLine {
   background-color: #37474f;
   min-height: 60px;
}
  /* Dropdown Button */
 .dropDownButton {
    background-color: #e4bb08be;
    color: rgb(255, 255, 255);
    padding: 19px;
    font-size: 20px;
    border: none; 
    margin-right: 2%;
  }

  /* Dropdown button on hover & focus */
  .dropDownButton:hover, .dropDownButton:focus {
  background-color: #b69811be;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px; /* Legt die größe des Menüs fest, "min-width: 100%" erreicht z.B. die angepasste Größe an den Button */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd
  }
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;} 
 
  .LoginBTN{
    background-color: green;
    color: rgb(255, 255, 255);
    padding: 18px;
    font-size: 20px;
    text-align: right;  
    border: none; 
    /*opacity: 0.9;*/
    margin-left: 2%; 
    float: right; 
  }
  .LoginBTN:hover {
    opacity:1;
  }
