 /*reset*/
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 /*center*/
 .center {
  position: relative;
  margin-top: 15%;
  margin-left: 45%;  
 }
 html, body {
   height: 100%;
    margin: 0%;
    background-color:#dddada;
 }
 .content {
  min-height: 100%;
}

.impressum-privacy {
  background-color: white;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;  
  margin-bottom: 5%;
  padding: 5%;
  box-shadow: 0 3px 30px rgba(25,30,35,.1);
  line-height: 2;
}
