 /*reset*/
 * {
    margin: 0;
    padding: 0;
 }
 /*center*/
 .center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
 body {
    margin: 0%;
    background-color:#dddada;
 }


